body {
  background-color: #fa9769;
}

.wrapper {
  display: grid;
  grid-template-columns: 175px auto;
  grid-template-rows: auto auto;
  gap: 10px;
}

.header-div {
  grid-column: span 2;
  grid-row: 1;
  text-align: center;
  color: white;
  text-shadow: -2px 2px 2px #000000;
  border-bottom: 1px solid black;
}

.sidebar {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-right: 1px solid black;
}

.flex-container {
  grid-column: 2;
  grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .grid-container {
    height: 748px;
    width: 748;
    display: grid;
    grid-template-columns: 320px 198px 153px 50px;
    grid-template-rows: 414px 130px 155px 20px;
    gap: 9px;
    background-color: #000;
    box-shadow: -10px 10px 10px black;
  }

  a {
    text-decoration: none;
    font-size: 14pt;
    color: white;
  }

  a:hover {
    text-decoration: underline;
  }

  .red{
    background-color: #E72F24;
  }

  .white {
    background-color: #F0F1EC;
  }

  .blue {
    background-color: #004592;
  }

  .yellow {
    background-color: #F9D01E;
  }

  .gray {
    background-color: #232629;
  }

  .border {
    border-bottom: 10px solid black;
  }

  .box1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .box2 {
    grid-column: span 3;
  }

  .box3 {
    grid-row: span 2;
  }

  .box4 {
    grid-column: span 2;
    grid-row: span 2;
  }

  .box5 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }

  .box6 {
    grid-area: 4 / 1 / 5 / 2;
  }

  .box7 {
    grid-area: 4 / 2 / 5 / 3;
  }

  .box8 {
    grid-area: 4 / 3 / 5 / 4;
  }

  .box9 {
    grid-area: 3 / 4 / 5 / 5
  }

  @media (max-width: 965px){
    .wrapper {
      grid-template-columns: auto;
      grid-template-rows: repeat(3, auto);
    }

    .header-div {
      grid-column: 1;
      grid-row: 1;
    }

    .sidebar {
      flex-direction: row;
      justify-content: space-evenly;
      grid-column: 1;
      grid-row: 2;
      border-bottom: 1px solid black;
      padding-bottom: 10px;
    }

    .flex-container {
      grid-column: 1;
      grid-row: 3;
      justify-content: center;
    }

    .grid-container {
      height: 298.4px;
      width: 269px;
      display: grid;
      grid-template-columns: 128px 79.2px 31.2px 20px;
      grid-template-rows: 165.6px 52px 62px 8px;
      gap: 3.6px;
      background-color: #000
    }
  }

  footer {
    text-align: right;
  }